{% if form_endereco %}
{% load crispy_forms_tags %}

    <div class="col-md-10">
        {{ form_endereco.logradouro|as_crispy_field }}
    </div>
    <div class="col-md-2">
        {{ form_endereco.numero|as_crispy_field }}
    </div>
    <div class="col-md-6">
        {{ form_endereco.cidade|as_crispy_field }}
    </div>
    <div class="col-md-6">
        {{ form_endereco.bairro|as_crispy_field }}
    </div>
    <div class="col-md-6">
        {{ form_endereco.complemento|as_crispy_field }}
    </div>
    <div class="col-md-4">
        {{ form_endereco.cep|as_crispy_field }}
    </div>
    <div class="col-md-2">
        {{ form_endereco.uf|as_crispy_field }}
    </div>



{% endif %}