{% if valor_sedex %}
<div class="row g-0 mb-4">
  <div class="col-12 col-md-4">
    <div class="app-card app-card-settings shadow-sm p-4">
  <div class="app-card-body">
  <div class="mb-2"><strong>Tipo de envio:</strong> Sedex</div>
  <div class="mb-2"><strong>Status:</strong> <span class="badge bg-success">Disponível</span></div>
  <div class="mb-2"><strong>Prazo:</strong> {{ prazo_sedex }} {% if prazo_sedex == '1' %} Dia útil {% else %} Dias úteis {% endif %}</div>
  <div class="mb-4"><strong>Valor:</strong> R${{valor_sedex}}</div>
  </div><!--//app-card-body-->
  </div><!--//app-card-->
  </div>

  <div class="col-12 col-md-4">
    <div class="app-card app-card-settings shadow-sm p-4">
  <div class="app-card-body">
  <div class="mb-2"><strong>Tipo de envio:</strong> Pac</div>
  <div class="mb-2"><strong>Status:</strong> <span {% if valor_sedex >= valor_pac %}class="badge bg-success"{% else %}class="badge bg-danger"{% endif %}>{% if valor_sedex >= valor_pac %}Disponível {% else %} Indisponível{% endif %}</span></div>
  <div class="mb-2"><strong>Prazo:</strong> {{prazo_pac}} dias uteis </div>
  <div class="mb-4 mt-15"><strong>Valor:</strong> R$ {{ valor_pac }} </div>

    
  </div><!--//app-card-body-->
  
  </div><!--//app-card-->
  </div>
  <div class="col-12 col-md-4">
    <div class="app-card app-card-settings shadow-sm p-4">
  <div class="app-card-body">
  <div class="mb-2"><strong>Tipo de envio:</strong> Motoboy</div>
  <div class="mb-2"><strong>Status:</strong> <span class="badge bg-success">Disponível</span></div>
  <div class="mb-2"><strong>Prazo:</strong> 1 Dia útil</div>
  <div class="mb-4"><strong>Valor:</strong>{{ valor_motoboy }}</div>
  </div><!--//app-card-body-->
  </div><!--//app-card-->
  </div>

</div>
{% endif %}