<div class="row g-4 mb-4">
    <div class="col-4 col-lg-4"> <!-- altera o tamnho do conteudo da pagina-->
        <div class="app-card-body p-3 p-lg-2">
            <div class="card p-3">
                <p>SEDEX</p>
            </div>
        </div>
    </div>

    <div class="col-4 col-lg-4"> <!-- altera o tamnho do conteudo da pagina-->
        <div class="app-card-body p-3 p-lg-2">
            <div class="card">
                <div class="custom-card-header"><p>Pac</p></div>
                <div class="pt-3 ">
                {{user}}
                {{user}}
                {{user}}
                </div>
            </div>
            
        </div>
    </div>

    <div class="col-4 col-lg-4"> <!-- altera o tamnho do conteudo da pagina-->
        <div class="app-card-body p-3 p-lg-2">
            <div class="card p-3">
                <p>Motoboy</p>
            </div>
        </div>
    </div>
</div>

