<div class="row g-4 mb-4">
  <div class="col-4 col-lg-4">
    <div class="app-card-body p-3 p-lg-2">
      <div class="app-card app-card-stat shadow-sm h-100">
        <div class="card-header p-lg-4" style="background-color: #FA8532; color: #fff;">
          <p>SEDEX</p>
        </div>
        <div class="container text-center">
          {% if cep %}
          <div>{{ prazo_sedex }}</div>
          <div>{{ valor_sedex }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="col-4 col-lg-4">
    <div class="app-card-body p-3 p-lg-2">
      <div class="app-card app-card-stat shadow-sm h-100">
        <div class="card-header p-lg-4" style="background-color: #2A68D3;  color: #fff;">
          <p>PAC</p>
        </div>
        <div class="container text-center">
          <div>{{ prazo_pac }}</div>
          <div>{{ valor_pac }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4 col-lg-4">
    <div class="app-card-body p-3 p-lg-2">
      <div class="app-card app-card-stat shadow-sm h-100">
        <div class="card-header p-lg-4" style="background-color: #198754; color: #fff;">
          <p>MOTOBOY</p>
        </div>
        <div class="container text-center">
          <div>{{ prazo_pac }}</div>
          <div>{{ valor_motoboy }}</div>
        </div>
      </div>
    </div>
  </div>
</div>