{% extends 'base.html' %}

{% block titulo %}
<div class="row justify-content-between">
  <div class="col-auto">
    <p>Entregas</p>
  </div>
  <div class="col-auto">
    <a {% if not valor_motoboy %}class="btn app-btn-orange disabled" {% else %}class="btn app-btn-orange"{% endif %} class="btn app-btn-orange disabled"  data-bs-toggle="modal" href="#exampleModalToggle" role="button">Criar entrega motoboy</a>
  </div>
</div>

{% endblock titulo %}

{% block content %}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Cliente</th>
                <th scope="col">Valor</th>
                <th scope="col">Bairro</th>
                <th scope="col">Ver</th>
            </tr>
        </thead>
        <tbody>
            {% for entrega in todas_entregas %}
            <tr>
                <th scope="row">{{ cliente_item.pedido_numero }}</th>
                <td>{{ entrega.cliente }}</td>
                <td>R$ {{ entrega.status }}</td>
                <td>{{ entrega.payment_pedido }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}