{% extends "base.html" %}

{% block content %}
<section class="section-body">
    <div class="row">
        <div class="col-12">
           
                <div class="profile-widget-description px-4">
                    <div class="profile-widget-name mt-2">
                        <h3>{{entrega.nome_cliente}}</h3>
                    </div>
                    <ul class="list-unstyled list-unstyled-border list-unstyled-noborder mb-0">
                        <li class="pb-1 mb-1"><strong class="mr-1">Nº Pedido:</strong> {{entrega.pedido_numero}}</li>
                        <li class="pb-1 mb-1"><strong class="mr-1">ID:</strong> {{entrega.identificador}}</li>
                        <li class="pb-1 mb-1"><strong class="mr-1">Data de criação:</strong> {{entrega.data_hora}}</li>
                        <li class="pb-1 mb-1"><strong class="mr-1">Endereço:</strong> {{entrega.cliente.endereco.logradouro}},
                            {{entrega.cliente.endereco.numero}} - {{entrega.cliente.endereco.bairro}}
                            - {{entrega.cliente.endereco.cidade}}, {{entrega.cliente.endereco.cep}} - {{entrega.cliente.endereco.complemento}}
                        </li>
                        <li class="pb-1 mb-1"><strong class="mr-1">Telefone:</strong> {{entrega.cliente.telefone}}</li>
                        <li class="pb-1 mb-1"><strong class="mr-1">Informações adicional:</strong>
                            {{entrega.informacoes}}</li>
                        <li class="pb-1 mb-1"><strong class="mr-1">Valor da corrida:</strong>
                            {{entrega.valor_entrega}}</li>
                            <li class="pb-1 mb-1"><strong class="mr-1">Motoboy:</strong>
                                {{entrega.get_payment_motoboy_display}}</li>
                        <div>
                            <a class="btn btn-danger m-1"
                                href="{% url 'FreteApp:deletar_entrega' entrega.identificador %}">Deletar</a>
                            <a class="btn btn-success m-1"
                                href="{% url 'FreteApp:gerar_pdf' entrega.identificador %}">Imprimir</a>
                            
                            <br>
                            <br>
                        </div>

                    </ul>
                </div>

            
        </div>
    </div>
</section>


{% endblock content %}